
body{
	background-color: #e0d9b4;
  font-family: 'Ubuntu', sans-serif;
}
        .heading{
            background-color:#ad9b86;
            padding:5px;
            border:0 solid #8cbf99;
            border-radius: 10px;
            color:#235430;
            text-align: center;
            position: static;
            font-family: 'trade winds', serif;
            font-size:32px;
        }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 5px; /* Adjust spacing between buttons */
    margin-top: 10px;
      font-family: 'Bahiana', serif;
    font-size: 24px;
  }


.container {
  width: 500px;
  height: 500px;
  position: absolute;
  }

.char{
  position: absolute;
  top: 0;
  left: 0;
    z-index: -550;
}

.shirt, .bottom, .shoes {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.shirt {
  z-index: 2;
}
.bottom {
  z-index: 1;
}
.shoes {
  z-index: 3;
}