
body{
	background-color: #e0d9b4;
  font-family: 'Ubuntu', sans-serif;
}
        .heading{
            background-color:#ad9b86;
            padding:5px;
            border:0 solid #8cbf99;
            border-radius: 10px;
            color:#235430;
            text-align: center;
            position: static;
            font-family: 'trade winds', serif;
            font-size:32px;
            width: 50%;
            margin: auto;
        }

  .button-container {
      display: flex;
      justify-content: center;
      gap: 5px; /* Adjust spacing between buttons */
      margin-top: 10px;
      font-family: 'Bahiana', serif;
      font-size: 24px;
  }

.doll-container {
  position: absolute;

  }

.char{
    position: absolute;
    top: 0;
    left: auto;
    z-index: -550;
}

.shirt, .bottom, .shoes, .eyes, .hair, .acc, .weapon, .tattoo, .mask {
    position: absolute;
    top: 0;
    left: auto;
    visibility: hidden;
}

.shirt {
  z-index: 4;
}
.bottom {
  z-index: 2;
}
.shoes {
  z-index: 8;
}
.eyes {
    z-index: 9;
}
.hair{
    z-index: 7;
}
.acc{
    z-index: 5;
}
.weapon{
    z-index: 10;
}
.tattoo{
    z-index: 1;
}
.mask {
    z-index: 11
}
